extends layouts/main.pug

block content
    #kitchen
        .topArea 
            .container
                img.topArea-logo(src='build/img/logo.png' alt="버거킹 로고이미지")
                span.topArea-title 주문알림
                
                .topArea-button-area
                    .topArea-button-area__button 메뉴관리 >>
                    a(href='salesControll').topArea-button-area__button 매출관리 >>
                
        .middleArea
            .container
                if(!orders.length)
                        .order-notifications__no-list
                            p 주문 내역이 없습니다
                else
                    each order in orders
                        .order-notifications(id=order._id class=order.isChecked ? 'order-notifications__status--check' : 'order-notifications__status--new')
                            p.order-notifications__status #{order.isChecked ? 'check' : 'new'}
                            p.order-notifications__details
                                span(id=order._id + '_num').order-notifications__details--number #{order.orderNumber}
                                span(id=order._id + '_takeout').order-notifications__details--takeout #{order.isTakeout ? '포장' : '매장'}
                            .order-notifications__menu(id=order._id + '_order')
                                each menu in order.choices
                                    .order-notifications__menu--info
                                        p.order-notifications__menu--name #{menu.menu.nameKr} x #{menu.amount}
                                        if menu.menu.isCombo
                                            p.order-notifications__menu--sides (#{menu.menu.sideMenu.nameKr}, #{menu.menu.drink.nameKr})
                            .button-area    
                                .button-area__button.button-area__button--cancel 취소
                                .button-area__button.button-area__button--complete 완료

                //- 알림음소리 (화면에는 보이지않음)
                iframe(src="" allow="autoplay" style="display:none;")
                audio#alarmInKitchen(src="/build/sounds/alarmInKitchen.mp3")                

                //- 주문내역 팝업창 (평소엔 hidden상태)
                .order-popup
                    .order-popup__box
                        p.order-popup__box--title 주문번호
                        p.order-popup__box--num
                        p.order-popup__box--takeout
                        div.order-popup__box--menu
                        button.order-popup__box--button 확인