extends layouts/main.pug
block title
    link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/fullcalendar@5.4.0/main.min.css", integrity="sha256-uq9PNlMzB+1h01Ij9cx7zeE2OR2pLAfRw3uUUOOPKdA=", crossorigin="anonymous")


block content
    #salesControll
        - let today = moment().format('YYYY-MM-DD')
        .topArea 
            .container
                img.logo(src='build/img/logo.png' alt="버거킹 로고이미지")
                span.title 매출분석

        .middleArea 
            .container 
                span.title 매출조회
                .divider
                .table
                    .input-area 
                        input(type='date' value=today).startDate
                        input(type='date' value=today).endDate
                        i.font-icon.fas.fa-search
                    table
                        tr.first
                            th 일자
                            th 품명
                            th 비고
                            th 수량
                            th 단가
                        - for (let i = 0; i < 8; i++)
                            tr
                                td #{today} 11:00:25
                                td 와퍼
                                td 단품
                                td 1
                                td 3,000    
                        tr.last
                            td 합계
                            td
                            td
                            td 50
                            td 300,000    
                    
                    .button-area
                        .button CSV추출
                        .button(onClick='convertPage()') 그래프전환

                .chart
                    .input-area 
                        input(type='date' value=today).startDate
                        input(type='date' value=today).endDate
                        select
                            option(value='sum') 매출액 통계
                            option(value='menu') 메뉴별 통계
                        select
                            option(value="month") 월별 
                            option(value="day") 일별
                        i.font-icon.fas.fa-search

                    canvas#myChart

                    .button-area
                        .button(onClick='convertPage()') 테이블전환

                        script. 
                            let toggleBtn = false;
                            const tableArea = document.querySelector('.table');
                            const chartArea = document.querySelector('.chart');

                            const convertPage = () => {
                                toggleBtn = !toggleBtn;

                                if(toggleBtn) {
                                    tableArea.style.display = 'none';
                                    chartArea.style.display = 'block';                    
                                } else {
                                    tableArea.style.display = 'block';
                                    chartArea.style.display = 'none';
                                }
                            }

                      
                
        .bottomArea 
            .container 
                span.title 매출기록
                .divider
                .record
                    .calendar-area 
                        #calendar
                    .write-area
                        .title-area
                            span.record-title#record-date #{today} 
                            span.record-title#record-special 특이사항
                            i.font-icon.far.fa-edit(onclick="setEditable()")

                        .body-area
                            p.alert-msg 기록된 사항이 없습니다.

                            .editable-area
                                textarea#input-record
                                .button-area
                                    .button(onclick="setEditable()") 취소
                                    .button 완료
                            script. 
                                let editStatus = false;
                                const editButton = document.querySelector('.far.fa-edit');
                                const textarea = document.querySelector('.editable-area');
                                const alertMsg = document.querySelector('.alert-msg');

                                const setEditable = () => {
                                    editStatus = !editStatus;
                                 
                                    if(editStatus) {
                                        alertMsg.style.display = 'none';
                                        editButton.style.display = 'none';
                                        textarea.style.display = 'flex';
                                    } else {
                                        textarea.style.display = 'none';
                                        alertMsg.style.display = 'block';
                                        editButton.style.display = 'inline';
                                    }
                                }
        
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.4.0/main.min.js" integrity="sha256-oenhI3DRqaPoTMAVBBzQUjOKPEdbdFFtTCNIosGwro0=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js" integrity="sha512-d9xgZrVZpmmQlfonhQUvTR7lMPtO7NkZMkA0ABN3PHCbKA5nqylQ/yWlFAyY6hYgdF1Qh6nYiuADWwKB4C2WSw==" crossorigin="anonymous"></script>
    