mixin optionBlock(menu = {}, defaultOption = {})
    if menu === defaultOption
        .optionBlock.optionBlock--default.optionBlock--selected
            .optionBlock__id.hidden #{menu.id}
            img.optionImg(src=menu.image)
            img.optionBlock__check(src="https://e7.pngegg.com/pngimages/541/1022/png-clipart-check-mark-computer-icons-others-miscellaneous-angle-thumbnail.png")
            .optionBlock__menu-name
                span.language-convertable.language-convertable--kr #{menu.nameKr}
                span.language-convertable.language-convertable--eng.hidden #{menu.nameEng}
            .optionBlock__extra-price
                span.language-convertable.language-convertable--kr + #{menu.extraPrice}원
                span.language-convertable.language-convertable--eng.hidden + #{menu.extraPrice}Won
    else
        .optionBlock
            img.optionImg(src=menu.image)
            img.optionBlock__check(src="https://e7.pngegg.com/pngimages/541/1022/png-clipart-check-mark-computer-icons-others-miscellaneous-angle-thumbnail.png")
            .optionBlock__menu-name
                span.language-convertable.language-convertable--kr #{menu.nameKr}
                span.language-convertable.language-convertable--eng.hidden #{menu.nameEng}
            .optionBlock__extra-price
                span.language-convertable.language-convertable--kr + #{menu.extraPrice}원
                span.language-convertable.language-convertable--eng.hidden + #{menu.extraPrice}Won
